.clsRow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;

  }
  
  /* On mouse-over, add a deeper shadow */
  .clsRow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


.clsRow{
    display: none;

}
  #id_row .clsRow:nth-child(1) {
    display: block;
}

  #id_row .clsRow:nth-child(2) {
    display: block;
}
#id_row .clsRow:nth-child(3) {
    display: block;
}  #id_row .clsRow:nth-child(4) {
    display: block;
}


  #id_row .clsRow:nth-child(9) #imgButtonGit {
    display: none;
}


#id_row .clsRow:nth-child(3) #imgButton {
    display: none;
}

#id_row .clsRow:nth-child(13) #imgButton {
    display: none;
}
#id_row .clsRow:nth-child(8) #imgButton {
  display: none;
}

.rounded{
  width: 600px;
    height:300px;
}

.info {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  right: 6%;
  top: 260px;
}

.info .info-hide {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 100%;
}

.info:hover .info-hide {
  visibility: visible;
}